body {
  font-family: 'Roboto', sans-serif;
  color: #333;
  height: 100%;
}
html{
  height: 100%;
}
img {
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

a {
  color: $mainBlue;
  text-decoration: none;
}
