body {
  font-family: 'Roboto', sans-serif;
  color: #333;
  height: 100%;
}
html{
  height: 100%;
}
img {
  max-width: 100%;
  height: auto;
}
* {
  box-sizing: border-box;
}
a {
  color: #008dc2;
  text-decoration: none;
}
.row{
  padding: 0;
  margin: 0;

}
.row::after {
  content: "";
  clear: both;
  display: table;
}
.row__gutters{
  padding: 0 -10px;
}
.row__gutters > div {
  padding: 0 10px;
}
.row__3{
  float: left;
  width: 25%;
  margin: 0;
}
@media (min-width: 800px) {
  .row__3 {
    width: 50%;
  }
}
@media (min-width: 1010px) {
  .row__3 {
    width: 100%;
  }
}
.row__4{
  float: left;
  width: 100%;
  margin: 0;
}
@media (min-width: 800px) {
  .row__4 {
    width: 33.33%;
  }
}
@media (min-width: 1010px) {
  .row__4 {
    width: 33.33%;
  }
}
.row__4__relative{
  position: relative;
}
.row__8{
  float: left;
  width: 100%;
  margin: 0;
}
@media (min-width: 800px) {
  .row__8 {
    width: 66.66%;
  }
}
@media (min-width: 1010px) {
  .row__8 {
    width: 66.66%;
  }
}
.row__6{
  position: relative;
  float: left;
  width: 100%;
  margin: 0;
}
.row__6__color{
  background: #f2a62b;
}
@media (min-width: 530px) {
  .row__6 {
    width: 50%;
  }
}
.row__12{
  float: left;
  width: 100%;
  margin: 0;
}
@media (min-width: 800px) {
  .flexbox .row__equal-height-at-Medium {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.flexbox .row__equal-height-at-Medium > div {
  float: none;
  -ms-flex: 1 1 100% ;
      flex: 1 1 100% ;
}
@media (min-width: 800px) {
  .flexbox .row__equal-height-at-Medium > div {
    -ms-flex: 1 1 50%;
        flex: 1 1 50%;
  }
}
@media (min-width: 1010px) {
  .flexbox .row__equal-height-at-Medium > div {
    -ms-flex: 1 1 33.333%;
        flex: 1 1 33.333%;
  }
}
@media (min-width: 1010px) {
  .flexbox .row__equal-height-at-Large {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.flexbox .row__equal-height-at-Large > div {
  float: none;
  -ms-flex: 1 1 100% ;
      flex: 1 1 100% ;
}
@media (min-width: 800px) {
  .flexbox .row__equal-height-at-Large > div {
    -ms-flex: 1 1 50%;
        flex: 1 1 50%;
  }
}
.footer{
  background: #008dc2;
  clear: both;
  color: white;
  display: block;
  height: 70px;

  text-align: center;

}
.footer > *{
  margin: 0 .5rem;
  padding: 1.7rem .5rem;
  display: block;
  font-size: .8rem;
}
@media (min-width: 530px) {
  .footer > * {
    font-size: 1.2rem;
    padding: 1.7rem 1.5rem;
  }
}
.btn{
  border: 0 ;
  outline:0;
  background: rgba(0,141,194,.8);
  padding: 1.5rem 1rem ;
  margin: 1rem 26% ;
  margin-bottom: 1rem;
  display: inline-block;
  text-decoration: none;
  color: white ;
  font-size: 1rem;
  font-weight: 200;
  text-align: center;
  border-radius: 0.5rem;
  transition: all 0.3s ease-out;
}
.btn__card{
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
}
.btn__card:hover{}
.btn__story{
  padding: .5rem .5rem ;
  font-size: 1rem;
  margin: .5rem;
  display: inline-block;
  z-index: 20000;
}
.btn__centered{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.btn:hover{
  cursor: pointer;
  transform: scaleX(1.2) scaleY(1.1);
  font-weight: 300;
}
@media (min-width: 530px) {
  .btn {
    padding: 1.5rem 1.5rem;
    font-size: 1.5rem;
    margin: 1rem 5rem ;
  }
}
@media (min-width: 800px) {
  .btn {
    padding: 1.5rem 1.5rem;
    margin: 1rem 5rem ;
  }
}
.btn__small {
  padding: 1rem 1rem ;
  font-size: 1rem;
}
*{
    font-family: 'Changa' , sans-serif;
}
.wrapper{
    max-width: 98vw;
    margin: 0 auto;
}
.header--img{
    width: 100%;
    max-height: 20vh;
}
.appointment--img{
    position: relative;
    top: 10%;
    left: 5%;
    width: 85%;
}
.info--text{
    background: #008dc2;
    text-align: center;
    padding: 1.5rem;
    color: white;
    font-weight: 600;
    font-size: 19px;
    line-height: 2;
}
.background--blue{
    background: #008dc2;
}
.color--blue{
    color: #008dc2 ;
}
.list--text{
    color: #008dc2 ;
    text-align: right;
    padding: 1.5rem;
    font-weight: 600;
    font-size: 19px;
    cursor: pointer;

}
.square--icon{
    font-size: 20px;
    padding-left: 10px;
    cursor: pointer;
}
.nav--btn{
    background: #008dc2;
    color: white;
    padding: 5px 16px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: inline-block;
    width: 98%;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
}
.login--btn, .white--btn{
    background: white;
    color: #008dc2;
    border:1.5px solid #008dc2;
    padding: 5px 16px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: inline-block;
    width: 98%;
    text-align: center;
    font-size: 22px;
    font-weight: 600;

}
.nav--btn:hover,.white--btn:hover, .active{
    background: red;
    text-decoration: none;
    color: white;
}
.main--content{
    background-image: url("../images/tu.jpeg");

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.main--services{
    margin-top: 20vh ;
}
.search--box{
    position: relative;
    top:15%
}
.search--input {
    border-top-left-radius: 15px !important;
    border-bottom-left-radius: 15px !important;
}
.search--span{
    border-top-right-radius: 15px !important;
    border-bottom-right-radius: 15px !important;
}
