.btn{
  border: 0 ;
  outline:0;
  background: rgba($mainBlue,.8);
  padding: 1.5rem 1rem ;
  margin: 1rem 26% ;
  margin-bottom: 1rem;
  display: inline-block;
  text-decoration: none;
  color: white ;
  font-size: 1rem;
  font-weight: 200;
  text-align: center;
  border-radius: 0.5rem;
  transition: all 0.3s ease-out;
  &__card{
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    &:hover{

    }
  }
  &__story{
    padding: .5rem .5rem ;
    font-size: 1rem;
    margin: .5rem;
    display: inline-block;
    z-index: 20000;
  }
  &__centered{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  &:hover{
    cursor: pointer;
    transform: scaleX(1.2) scaleY(1.1);
    font-weight: 300;

  }
  @mixin atSmall{
    padding: 1.5rem 1.5rem;
    font-size: 1.5rem;
    margin: 1rem 5rem ;
  }
  @mixin atMedium{
    padding: 1.5rem 1.5rem;
    margin: 1rem 5rem ;

  }
  &__small {
    padding: 1rem 1rem ;
    font-size: 1rem;
  }
}
