.footer{
  margin-top:20px;
  background: $mainBlue;
  clear: both;
  color: white;
  display: block;
  height: 70px;

  text-align: center;
  & > *{
    margin: 0 .5rem;
    padding: 1.7rem .5rem;
    display: block;
    font-size: .8rem;
    
    @mixin atSmall{
      font-size: 1.2rem;
      padding: 1.7rem 1.5rem;
    }
  }

}
